@charset "utf-8";

section{
    position: relative;
}

.round_face{
    position: relative;
    width:200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px; 
}
.nose{
    position: absolute;
    top: 80px;
    right: 85px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid black;
}
.eyes{
    position: absolute;
    top: 45px;
    width:30px;
    height:5px;
    background-color: black;
    transition: transform 1s;
}
.left_eye{
    left: 50px;
}
.right_eye{
    right: 50px;
}
.right-mouth{
    position: absolute;
    top:150px;
    left:70px;
    width:60px;
    height: 5px;
    transition: transform 1s;
}
.right-mouth-black{
    background-color: black;
    width:30px; 
    height:100%;
    margin-left:30px; 
}
.left-mouth{
    position: absolute;
    top:150px;
    left:70px;
    width:60px;
    height: 5px;
    transition: transform 1s;
}
.left-mouth-black{
    background-color: black;
    width: 30px; 
    height:100%;
    margin-right: 30px;
}

/*angry*/

.angry{
    position: absolute;
    top:100px;
    left:300px;
    width:30px;
    height:30px;
}
.angry_text{
    position: absolute;
    top:110px;
    left:350px;
    width:60px;
    height:30px;
}
.angry:checked ~ .round_face>.left_eye{
    transform: rotateZ(30deg);
}
.angry:checked ~ .round_face>.right_eye{
    transform: rotateZ(-30deg);
}
.angry:checked ~ .round_face>.right-mouth{
    transform: rotateZ(30deg);
}
.angry:checked ~ .round_face>.left-mouth{
    transform: rotateZ(-30deg);
}
/* laugh */
.laugh{
    position: absolute;
    top:150px;
    left:300px;
    width:30px;
    height:30px;
}
.laugh_text{
    position: absolute;
    top:160px;
    left:350px;
    width:60px;
    height:30px;
}
.laugh:checked ~ .round_face>.left_eye{
    transform: rotateZ(-30deg);
}
.laugh:checked ~ .round_face>.right_eye{
    transform: rotateZ(30deg);
}
.laugh:checked ~ .round_face>.right-mouth{
    transform: rotateZ(-30deg);
}
.laugh:checked ~ .round_face>.left-mouth{
    transform: rotateZ(30deg);
}