@charset "utf-8";

.round_face{
    position: relative;
    width:200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px 100px 0px 0px;
}

.nose{
    position: absolute;
    top: 80px;
    right: 85px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid black;
}
.eyes{
    position: absolute;
    top: 45px;
    width:30px;
    height:5px;
    background-color: black;
}
.left_eye{
    left: 50px;
}
.right_eye{
    right: 50px;
}

.mouth{
    position: absolute;
    top:150px;
    left:70px;
    width:60px;
    height: 5px;
    background-color: black;
}
