@charset "utf-8";


.round_face{
    position: relative;
    width:200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px; 
}

.nose{
    position: absolute;
    top: 80px;
    right: 85px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid black;
}
.eyes{
    position: absolute;
    top: 45px;
    width:30px;
    height:5px;
    background-color: black;
    transition: transform 1s;
}
.left_eye{
    left: 50px;
}
.right_eye{
    right: 50px;
}
/*.round_face:active .left_eye{
    transform: rotateZ(30deg);
}
*/
.right_mouth{
    position: absolute;
    top:150px;
    left:70px;
    width:60px;
    height: 5px;
    transition: transform 1s;
}
.right_mouth_black{
    background-color: black;
    width:30px; 
    height:100%;
    margin-left:30px; 
}
.left_mouth{
    position: absolute;
    top:150px;
    left:70px;
    width:60px;
    height: 5px;
    transition: transform 1s;
}
.left_mouth_black{
    background-color: black;
    width: 30px; 
    height:100%;
    margin-right: 30px;
}
/*怒ったときの挙動*/
.angry_left_eye{
    transform: rotateZ(30deg);
}
.angry_right_eye{
    transform: rotateZ(-30deg);
}
.angry_left_mouth{
    transform: rotateZ(-30deg);
}
.angry_right_mouth{
    transform: rotateZ(30deg);
}
/*笑った時の挙動*/
.laugh_left_eye{
    transform: rotateZ(-30deg);
}
.laugh_right_eye{
    transform: rotateZ(30deg);
}
.laugh_left_mouth{
    transform: rotateZ(30deg);
}
.laugh_right_mouth{
    transform: rotateZ(-30deg);
}